body{
font-family: 'Indie Flower', cursive;
color:black;
   
}
.back{
background-image:url("./images/backg.png");
background-size: cover;
width: 100%;
height: 320px;
border:1px solid rebeccapurple; 

}

.side-img{
    height: 80%;
    width: 80%;
    margin: 20px;
}

.logo{
    float: left;
    width: 25px;
    height: 25px;
}
.foot1{
    width: 30%;
    height: 30%;
    align-items: center;
    }
.content-img{
    float:right;
}
.content{
    font-size:17px;
}
iframe{
    width: 100%;
    height: 250px;
}
.navbar{
    font-size:20px;
}